body {
	margin:0;
	background-color:blue;
	padding: 40px;
	font-family: 'Arimo',sans-serif;
}

ul {
	list-style-type: none;
	display: inline;
	font-size: 20px;
}

li {
	display: inline;
	text-align: center;
}

.navbar-inner {
	background-color: #D6D6D6;
	height: 60px;
	font-size: 40pt;
}

.container {
	background-color: blue;
	width:1170px;
}

#one {
	background:transparent;
	height:100000px;
	width:960px;
}

.left {
	background-color: #D6D6D6;
	padding: 10px;
	margin:10px;
	float:left;
	height:200px;
	width:200px;
}

.middle {
	background-color: #b3d4fc;
	padding: 10px;
	height:150px;
	width:150px;
	float:left;
	margin:30px;
}

.right {
	background-color: #00BFFF;
	height:50px;
	width: 50px;
	float:left;
	margin:30px;
}	

.logo {
	padding:10px;
	width:50px;
}

.brand {
	background: transparent;
}
.navbar {
	height:60px;
	padding:10px;
	background-color: #ffffff;
	text-align: center;
	text-decoration: none;
}

a:link, a:hover, a:active {
	text-decoration: none;
	color: white;
}

a .navbar {
	text-align: left;
}
.navbar-fixed-top {
	text-align: center;
}


@media only screen and (max-width:980px) {
	#one {
		width: 100%;
		box-sizing:border-box;
	}
}

@media only screen and (max-width:760px) {
	.right {
		margin-left: 0;
		margin-right: 0;
		width:100%;
	}
}

@media only screen and (max-width: 480px) {
	.left, .middle, .right {
		width:100%;
	}
}







}