
body {
	margin:0;
	background-color:#F6F6EF;
	padding: 0px 300px 0 300px; 
	font-family: 'apercubold', 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'apercubold', 'Montserrat', sans-serif;
}

.winterTitle {
	padding:400px, 30px, 100px, 30px;
	text-align: center;
	margin-top: 150px;
}

.aboutWinter {
	margin-top: 80px;
	margin-bottom: 75px;
}

.recipeTitle {
	padding-top:0px;
	text-align: center;
	margin-bottom: 20px;
}

.serves {
	margin-top: 10px;
	margin-bottom: 80px;
	text-align: center;
}

.ingred {
	padding-right: 10px;
}

ul {
	list-style-type: none;
	font-size: 14px;
	position:absolute;
	list-style-type: none;
	padding:0px;
}

li {
	text-align: left;
	margin-top: 25px;
	position: relative;
	left:0;
	padding-left:0;
	float: none;
}

.prep {
	padding-left: 20px;
	line-height: 2;
}

h1 {
	color: #0B24FE;
	font-family: 'apercubold', 'Montserrat' sans-serif;
	font-size: 100pt;
}


h2 {
	font-size: 40pt;
	font-family: "apercubold", 'Montserrat' sans-serif;
	text-align: center;
}

h3 {
	font-size: 30px;
	text-decoration: underline;
}

h4 {
	font-size: 12pt;
	color: #0B24FE;
}

h5 {
	font-size: 14pt;
	text-decoration: underline;
}

ul h5 {
	text-decoration: none;
}

.post h3 {
	color:#3D3C3A;
}
.navbar {
	height:90px;
	padding: 0 300px 0 300px;
	margin: 0 0 30px 0;
	background-color: red;
	margin-color:#D6D6D6;
	text-align: left;
	text-decoration: none;
}

.navbar-inner {
	background-color: red;
	height: 60px;
	font-size: 40pt;
	float:left;
	display: inline-block;
}

.navbar-inner a {
	text-align: center;
}

.fish {
	float:left;
	padding-left: 75px;
	padding-right: 10px;
	display:inline-block;
}

.nvtitle {
	text-align: center;
	margin:175px 0 65px 0;
}

.postcontainer {
	background-color: #ECE9E3;
	height:500px;
}

.postbodygrid {
	text-align: justify;
	background-color: #ECE9E3;
	margin-bottom: 20px;
}

.post {
	text-align: justify;
	padding-top:30px;
	padding-bottom: 30px;
}

.post h3 {
	text-align: center;
}

.logo {
	text-align: center;
	height:50px;
}

span .glyphicons-play {
	display: inline-block;
	text-align: right;
	height:100px;
	width:100px;
	float: left;
	background: url("css/bootstrap-glyphicons.css/glyphicons-play");
	color:black;
}

.postphoto {
	background:transparent;
	height:1000px;
	width:960px;
	margin-top: 30px;
}

.left {
	background-color: #D6D6D6;
	padding: 0px;
	margin:0;
	float:left;
	text-align: center;
}

.logo {
	padding:10px;
	width:50px;
	display: inline-block;
}

.brand {
	background: transparent;
	text-align: center;
	float:left;
}




a:link, a:hover, a:active {
	text-decoration: none;
	color: white;
}

@font-face {
	font-family: "apercubold";
	src: url("fonts/Apercu/apercu_bold_pro.otf"); 
	font-weight: normal;
	font-style: normal;
}


@media screen and (max-width:980px) {
	#one {
		width: 100%;
		box-sizing:border-box;
	}
}

@media screen and (max-width:760px) {
	.right {
		margin-left: 0;
		margin-right: 0;
		width:100%;
	}

	img { 
		width: 50%;}

	.navbar li {
		margin: 0;
		padding: 0;
	}

}

@media only screen and (max-width: 480px) {
	.left, .middle, .right {
		width:100%;
	}

	img {
		width:50%;
	}
	.fish {
		width:75%;
	}
}







}